h1{
    color: lightcoral;
}
  input[type=textfield] {
      width: 18%;
      padding: 30px 30px;
      font-size: px;
      margin: 8px 0;
      border: 1px solid silver;
      border-radius: 2x;
      text-align: left;
      color: #ffffff;
      background: lightcoral;
  }
  input[type=button], input[type=submit], input[type=reset] {
      background-color: #2ad4fad3;
      border: none;
      color: white;
      padding: 16px 32px;
      font-size: 16px;
      min-width: 21px;
      text-decoration: none;
      margin: 2px 0.5px;
      cursor: pointer;
  }
  
    