h1{
    justify-content: center;
    color: rgb(140, 209, 226);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    padding: 15px;
    border-radius: 10px;
    
}

button {
    cursor: pointer;
    border-radius: 15px;
    font-size: 1.5em;
    border: none;
    background-color: #ffa0a0;
   }

.display {
    grid-column: 1 / -1;
    padding: 16px;
    margin: 10px 10px 20px;
    flex-direction: column;
    background-color: #b8ffef;
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    }


  
    